<footer class="footer">
  <div class="container">
    <div class="row text-muted">
      <div class="col-6 text-left">
        <ul class="list-inline">
          <li class="list-inline-item">
            <span class="align-middle"
              >Built by Daniel Fischer, Josefina Amaro, Yashaswi Puttaswamy, & Ryan Joyce</span
            >
          </li>
        </ul>
      </div>
      <div class="col-6 text-right">
        <p class="mb-0 text-muted">
          © 2019 - Awesome Planets Team
        </p>
      </div>
    </div>
  </div>
</footer>
