<nav class="sidebar sidebar-sticky">
  <div class="sidebar-content">
    <a class="sidebar-brand" href="{{ url_for('home') }}">
      <i class="fas fa-user-astronaut fa-2x"></i>
      <span class="align-middle">&nbsp;Exoplanet Portal</span></a
    >
    <hr class="mt-2" />
    <ul class="sidebar-nav">
      <li class="sidebar-header">Planet Stuff</li>
      <li class="sidebar-item">
        <a
          href="#portfolios"
          data-toggle="collapse"
          class="sidebar-link collapsed"
          aria-expanded="false"
        >
          <i class="fas fa-images"></i>
          <span class="align middle">Life</span>
        </a>
        <ul
          id="portfolios"
          class="sidebar-dropdown list-unstyled collapse"
          style
        >
          <li class="sidebar-item">
            <a class="sidebar-link" href="{{ url_for('ProjectPlanets')}}">Yasha</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Delete All Life</a>
          </li>
        </ul>
      </li>
      <li class="sidebar-header">Galaxy Stuff</li>
      <li class="sidebar-item">
        <a
          href="#consumption"
          data-toggle="collapse"
          class="sidebar-link collapsed"
          aria-expanded="false"
        >
          <i class="fas fa-cash-register"></i>
          <span class="align middle">Unexplained</span>
        </a>
        <ul
          id="consumption"
          class="sidebar-dropdown list-unstyled collapse"
          style
        >
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Dark Matter</a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="#">Sagittarius A*</a>
          </li>
        </ul>
        <a
          href="#"
          data-toggle="collapse"
          class="sidebar-link collapsed"
          aria-expanded="false"
        >
          <i class="fas fa-chart-line"></i>
          <span class="align middle">Stuff</span>
        </a>
      </li>

      <li class="sidebar-header">Universe Stuff</li>
      <li class="sidebar-item">
        <a
          href="#"
          data-toggle="collapse"
          class="sidebar-link collapsed"
          aria-expanded="false"
        >
          <i class="fas fa-hand-holding-usd"></i>
          <span class="align middle">The Big Bang</span>
        </a>
        <a
          href="#"
          data-toggle="collapse"
          class="sidebar-link collapsed"
          aria-expanded="false"
        >
          <i class="fas fa-file-contract"></i>
          <span class="align-middle">Quantum Unification</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
